.login-panel{
    margin: auto;
    width: 60%;
    padding:150px 0;
}

.panel > .panel-heading{
    background-color: bisque;
}

.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }