/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 85px;
    
  }

  .recommended1{
      background-color: green;
      color:wheat;
      position: absolute;
      bottom: 25px;
      right:-37px;
      font-size: 15px;
      transform: rotate(-45deg);
      padding: 3px 30px;
     
  }

  .recommended{
    background-color: green;
    color:wheat;
    text-align: center;
    position: relative;
      top: 5px;
    

}