

<nav class="navbar navbar-default header">
    <div class="container-fluid ">
      
      <ul class="nav navbar-nav logo-header ">
        <li class='logo'><a class='glyphicon glyphicon-facetime-video' href='#'></a></li>
        <li class='navbar-text'><a href='#'>BookInfyMovies</a></li>
        
      </ul>
     

        <form class="navbar-form navbar-right " ngForm>
          <div class="input-group">
              <span class='input-group-addon'><i class='glyphicon glyphicon-map-marker'></i></span>
                  <select class="form-control" (change)='locationChange($event)' [ngModel]='location' name='dropdown'>
                      <option  disabled value='select' >Select location</option>

                    <option value='chandigarh'>Chandigarh</option>
                    <option value='bangalore'>Bangalore</option>
                      <option value='chennai'>Chennai</option>

                  </select>
          </div>
        </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer class='footer'><div class='txtpos' >Manish Corp.,</div></footer>